<section class="container mx-auto" >
  <h1 class="text-5xl font-bold pb-16">Пошив мягких игрушек для бизнеса</h1>
  <swiper-container #swiperRef swiperElement [config]="config">
    <swiper-slide *ngFor="let slide of slides" class="slide w-full">
      <img
        class="object-cover pb-4"
        width="440"
        height="550"
        style="height: 27rem !important"
        [src]="slide.imageUrl"
        [alt]="slide.title"
      />
      <caption class="w-full text-center inline-block select-none">
        {{
          slide.title
        }}
      </caption>
    </swiper-slide>
  </swiper-container>
</section>

<section class="bg-b2b-tailoring bg-cover h-lvh flex flex-wrap content-center">
  <div class="flex flex-col flex-grow items-center gap-8">
    <div class="feature">
      <div class="w-1/2">
        <h3 class="h3-title">Сувернирная продукция</h3>
      </div>
      <div class="w-1/2">
        <ul class="list-disc">
          <li class="py-2">Партии от 10 штук.</li>
          <li class="py-2">Предоставляем прототип за 7 дней с момента первого контакта.</li>
          <li class="py-2">Конкурентные цены.</li>
          <li class="py-2">Эскиз будущего изделия бесплатно.</li>
        </ul>
      </div>
    </div>
    <div class="feature  ">
      <div class="w-1/2">
        <h3 class="h3-title">Звуковые модули</h3>
      </div>
      <div class="w-1/2">
        <p class="py-2">Как сделать так, чтобы твоя продукция запомнилась?</p>
        <p class="py-2">
          Добавь ей голос! Короткий слоган (15секунд) или громкий смех?
        </p>
        <p class="py-2">Прояви фантазию!</p>
      </div>
    </div>
  </div>
</section>
