<section class="container mx-auto">
  <app-titled-box title="Услуги">
    <div class="grid grid-cols-3 sm:grid-cols-1">
      <!-- Дизайн и UI\UX -->
      <app-collapse title="Дизайн и UI\UX" tag="services">
        <ul class="list-disc p-4">
          <li>Разработка дизайна веб и мобильных приложений</li>
          <li>Разработка и консультирование по UI\UX</li>
          <li>Разработка дизайн-систем</li>
          <li>Айдентика и создание логотипов</li>
        </ul>
      </app-collapse>
      <!-- Разработка ПО -->
      <app-collapse title="Разработка ПО" tag="services">
        <ul class="list-disc p-4">
          <li>Разработка прикладного ПО</li>
          <li>Разработка веб-приложенй</li>
          <li>Автоматизация бизнес-процессов</li>
          <li>Организация и консалтинг команд разработки</li>
        </ul>
      </app-collapse>
      <!-- Мир вещей -->
      <app-collapse title="Мир вещей" tag="services">
        <ul class="list-disc p-4">
          <li>Автоматизация бизнес-процессов</li>
          <li>Организация и консалтинг команд разработки</li>
          <li>Автоматизация бизнес-процессов</li>
          <li>Организация и консалтинг команд разработки</li>
        </ul>
      </app-collapse>
    </div>
  </app-titled-box>
</section>
