<app-chat-message direction="start" image="assets/images/branding/maskot.png">
  <h1 class="text-lg font-bold uppercase">Плавный Поток</h1>
</app-chat-message>

<app-chat-message
  direction="end"
  image="assets/images/branding/maskot2.png"
  background="assets/images/abs1.png"
>
  Творческая дизайн-студия. Воплощаем элегантные&nbsp;и&nbsp;гармоничные дизайны
  - от веба до мира вещей.
</app-chat-message>

<app-chat-message direction="end" image="assets/images/branding/maskot3.png">
  <button class="btn btn-primary btn-outline btn-sm rounded">
    <app-telegram-icon></app-telegram-icon> Телеграм
  </button>
</app-chat-message>
