<section>
  <div class="hero">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-3xl font-bold">Свяжитесь с нами</h1>
        <p class="py-6">Мы всегда рады новым проектам!</p>
        <div class="card w-full max-w-sm border">
          <form class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Ваш Email или Telegram</span>
              </label>
              <input type="text" placeholder="@fluentflowdesign" class="input input-bordered" required />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Сообщение</span>
              </label>
              <textarea class="textarea input-bordered" placeholder="Я хочу дизайн"></textarea>
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-neutral">Отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
