<div class="max-w-md">
    <h2 class="text-3xl font-bold pb-4">Калькулятор стоимости</h2>
    <h3 class="h3-title">Выберите тип</h3>
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Игрушка на сумку (10 см)</span>
        <input
          type="radio"
          name="toy-type"
          class="radio checked:bg-red-500"
        />
      </label>
    </div>
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Игрушка (30 см)</span>
        <input
          type="radio"
          name="toy-type"
          class="radio checked:bg-blue-500"
          checked
        />
      </label>
    </div>
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Свой концепт</span>
        <input
          type="radio"
          name="toy-type"
          class="radio checked:bg-green-500"
        />
      </label>
    </div>
    <h3 class="h3-title">Выберите особенности</h3>
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Звуковая кнопка</span>
        <input type="checkbox" class="checkbox" />
      </label>
    </div>
    <h3 class="h3-title">Материал</h3>
    <select class="select select-bordered text-left w-full">
      <option disabled selected>Выберите материал</option>
      <option>Флис</option>
      <option>Бифлекс</option>
      <option>Микрофибра</option>
      <option>Дешайн</option>
    </select>
    <h3 class="h3-title">Количество</h3>
    <input
      type="number"
      min="10"
      max="1000"
      placeholder="Введите количество (от 10)"
      class="input input-bordered w-full"
    />
    <div class="py-4">
      <button class="btn btn-primary">Расчитать</button>
    </div>
  </div>