<section class="container mx-auto">
    <h1>Сервисы</h1>
    <p>Мы предлагаем комплексные решения для бизнеса, направленные на поддержку и развитие вашего B2B-потенциала. Наши услуги охватывают все этапы — от анализа и стратегии до внедрения и поддержки, чтобы вы могли сосредоточиться на важнейших аспектах вашего бизнеса. Мы помогаем компаниям не только адаптироваться к современным вызовам, но и уверенно использовать новые возможности для роста.</p>
</section>

<section class="container mx-auto">
    <h2>Наши решения</h2>
    <app-solution-flip-card 
        *ngFor="let service of services" 
        [service]="service">
    </app-solution-flip-card>
</section>