<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer>
  <nav class="grid grid-flow-col gap-8">
    <a
      href="https://vk.com/fluentflow"
      class="link link-hover bg-neutral rounded-full p-4 flex justify-center items-center text-primary"
      target="_blank"
    >
      <app-vk-icon></app-vk-icon>
    </a>

    <a
      href="https://t.me/fluentflowdesign"
      class="link link-hover bg-neutral indicator rounded-full p-4 flex justify-center items-center text-primary"
      target="_blank"
    >
      <span class="indicator-item badge badge-accent">Новое</span>
      <app-telegram-icon></app-telegram-icon>
    </a>

    <span
      title="GitHub"
      class="bg-neutral rounded-full p-4 flex justify-center items-center text-primary"
    >
      GitHub
    </span>
  </nav>
</app-footer>
