<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer>
  <nav class="grid grid-flow-col gap-8">
    <!-- VK -->
    <app-external-link src="https://vk.com/fluentflow">
      <app-vk-icon></app-vk-icon>
    </app-external-link>
    <!-- Telegram -->
    <app-external-link src="https://t.me/fluentflowdesign">
      <app-telegram-icon></app-telegram-icon>
    </app-external-link>
    <!-- GitHub -->
    <app-external-link src="https://github.com/fluentflow/fluentflow.design">
      <app-github-icon></app-github-icon>
    </app-external-link>
    <!-- TODO: Behance, Dribbble, Pinterest -->
  </nav>
</app-footer>
