<footer
  class="footer footer-center text-base-content mobile-only"
>
  <section class="text-right">
    <span class="text-primary">ВК: </span>
    <a
      href="https://vk.com/fluentflow.merch"
      target="_blank"
      class="btn btn-info text-secondary"
      >Мерч</a
    >
    <span class="text-primary">Telegram: </span>
    <a
      href="https://t.me/fluentflow"
      target="_blank"
      class="btn btn-info text-secondary"
      >{{telegramPublicLinkName}}</a
    >
  </section>
  <ng-content></ng-content>
</footer>
