<section class="">
  <h3 class="text-3xl font-bold p-8">Услуги</h3>
  <div class="p-4 bg-neutral shadow-lg text-base-100  rounded-3xl w-full-md">
    <div class="collapse collapse-plus">
      <input type="radio" name="accordion-services" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        Дизайн и UI\UX
      </div>
      <div class="collapse-content">
        <ul class="list-disc">
          <li>Разработка дизайна веб и мобильных приложений</li>
          <li>Разработка и консультирование по UI\UX</li>
          <li>Разработка дизайн-систем</li>
          <li>Айдентика и создание логотипов</li>
        </ul>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="accordion-services" />
      <div class="collapse-title text-xl font-medium">
        Разработка ПО
      </div>
      <div class="collapse-content">
        <ul class="list-disc">
          <li>Разработка прикладного ПО</li>
          <li>Разработка веб-приложенй</li>
          <li>Автоматизация бизнес-процессов</li>
          <li>Организация и консалтинг команд разработки</li>
        </ul>
      </div>
    </div>
    <div class="collapse collapse-plus">
      <input type="radio" name="accordion-services" />
      <div class="collapse-title text-xl font-medium">
        Мир вещей
      </div>
      <div class="collapse-content">
        <ul class="list-disc">
          <li>Дизайн и пошив игрушек</li>
          <li>Дизайн упаковок</li>
          <li>Создание мерча</li>
        </ul>
      </div>
    </div>
  </div>
</section>
