<div class="container mx-auto text-right">
  <span>ВК: </span>
  <a href="https://vk.com/fluentflow.merch"
     target="_blank"
     class="btn btn-info m-2 text-secondary"
    >Мерч</a>
  <span>Telegram: </span>
  <a href="https://t.me/fluentflow"
     target="_blank"
     class="btn btn-info m-2 text-secondary"
    >@fluentflow</a>
</div>

<div class="navbar bg-base-200">
  <div class="container mx-auto">
    <div class="navbar-start flex items-center gap-4 pl-2">
      <!-- Меню -->
      <div class="dropdown" [class.open]="dropdownOpen">
        <label
          class="flex items-center gap-1"
          tabindex="0"
          (click)="toggleDropdown()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
          <span class="inline">Меню</span>
        </label>
        <ul
          *ngIf="dropdownOpen"
          tabindex="0"
          class="menu menu-sm dropdown-content shadow bg-base-100 rounded-box w-52"
        >
          <li><a routerLink="/" (click)="closeDropdown()">Главная</a></li>
          <li><a routerLink="/cases" (click)="closeDropdown()">Кейсы</a></li>
          <li>
            <a routerLink="/tailoring-b2b" (click)="closeDropdown()"
              >Пошив игрушек на заказ</a
            >
          </li>
        </ul>
      </div>
      <!-- Главная -->
      <a routerLink="/">Главная</a>
      <!-- Пошив мерча -->
      <a routerLink="/tailoring-b2b">Пошив мерча</a>
    </div>
  </div>
</div>
