<div class="carousel w-full h-80">
    <div id="slide1" class="carousel-item relative w-full h-full">
        <img src="https://daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.jpg" class="w-full h-full absolute" />
        <app-adaptive-text class="z-index-10 relative p-4" title="Профессионализм">
            <p>
              Мы - команда профессионалов, специализирующихся на
              <span class="underline">создании элегантных и гармоничных дизайнов</span
              >. Наша студия предлагает широкий спектр услуг, включая веб-дизайн,
              графический дизайн, разработку логотипов и многое другое.
            </p>
        </app-adaptive-text>


        <div class="absolute flex justify-between transform left-5 right-5 top-1/2">
            <a href="#slide2" class="btn btn-circle">❮</a> 
            <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
    </div> 
    <div id="slide2" class="carousel-item relative w-full h-ful">
        <img src="https://daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.jpg" class="w-full h-full absolute" />
        <app-adaptive-text class="z-index-10 relative p-4" title="Уникальный подход">
            <p>
              Мы стремимся создавать уникальные и оригинальные дизайны, которые
              отражают индивидуальность и цели каждого клиента. Наша команда работает
              тесно с клиентами, чтобы понять их потребности и создать дизайн, который
              наилучшим образом соответствует их бренду и ценностям.
            </p>
          </app-adaptive-text>
        <div class="absolute flex justify-between transform left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle">❮</a> 
            <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
    </div> 
    
</div>
<div class="flex justify-center w-full py-2 gap-2">
    <a href="#slide1" class="btn btn-xs">1</a> 
    <a href="#slide2" class="btn btn-xs">2</a>
  </div>
