<footer
  class="footer footer-center p-10 text-base-content bg-auto bg-right-top"
  style="background-image: url('assets/images/lines1.png')"
>
  <nav>
    <div class="grid grid-flow-col gap-20 bg-base-200 p-8 rounded ring-1">
      <a href="https://vk.com/fluentflow" class="link link-hover indicator py-2 px-4">
        <span class="indicator-item badge badge-accent">Новое</span>
        <span>Дизайн</span>
      </a>
      <span class="text-gray-400 py-2 px-4">Разработка</span>
      <span class="text-gray-400 py-2 px-4">Маркетинг</span>
    </div>
  </nav>

  <ng-content></ng-content>
</footer>
