<div id="chess-board" class="grid grid-cols-8 grid-rows-8">
    <app-chess-cell 
        id="A8" [figure]="cells[0][0]" (click)="onCellClick(0, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B8" [figure]="cells[0][1]" (click)="onCellClick(0, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C8" [figure]="cells[0][2]" (click)="onCellClick(0, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D8" [figure]="cells[0][3]" (click)="onCellClick(0, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E8" [figure]="cells[0][4]" (click)="onCellClick(0, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F8" [figure]="cells[0][5]" (click)="onCellClick(0, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G8" [figure]="cells[0][6]" (click)="onCellClick(0, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H8" [figure]="cells[0][7]" (click)="onCellClick(0, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A7" [figure]="cells[1][0]" (click)="onCellClick(1, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B7" [figure]="cells[1][1]" (click)="onCellClick(1, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C7" [figure]="cells[1][2]" (click)="onCellClick(1, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D7" [figure]="cells[1][3]" (click)="onCellClick(1, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E7" [figure]="cells[1][4]" (click)="onCellClick(1, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F7" [figure]="cells[1][5]" (click)="onCellClick(1, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G7" [figure]="cells[1][6]" (click)="onCellClick(1, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H7" [figure]="cells[1][7]" (click)="onCellClick(1, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A6" [figure]="cells[2][0]" (click)="onCellClick(2, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B6" [figure]="cells[2][1]" (click)="onCellClick(2, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C6" [figure]="cells[2][2]" (click)="onCellClick(2, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D6" [figure]="cells[2][3]" (click)="onCellClick(2, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E6" [figure]="cells[2][4]" (click)="onCellClick(2, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F6" [figure]="cells[2][5]" (click)="onCellClick(2, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G6" [figure]="cells[2][6]" (click)="onCellClick(2, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H6" [figure]="cells[2][7]" (click)="onCellClick(2, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A5" [figure]="cells[3][0]" (click)="onCellClick(3, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B5" [figure]="cells[3][1]" (click)="onCellClick(3, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C5" [figure]="cells[3][2]" (click)="onCellClick(3, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D5" [figure]="cells[3][3]" (click)="onCellClick(3, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E5" [figure]="cells[3][4]" (click)="onCellClick(3, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F5" [figure]="cells[3][5]" (click)="onCellClick(3, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G5" [figure]="cells[3][6]" (click)="onCellClick(3, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H5" [figure]="cells[3][7]" (click)="onCellClick(3, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A4" [figure]="cells[4][0]" (click)="onCellClick(4, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B4" [figure]="cells[4][1]" (click)="onCellClick(4, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C4" [figure]="cells[4][2]" (click)="onCellClick(4, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D4" [figure]="cells[4][3]" (click)="onCellClick(4, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E4" [figure]="cells[4][4]" (click)="onCellClick(4, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F4" [figure]="cells[4][5]" (click)="onCellClick(4, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G4" [figure]="cells[4][6]" (click)="onCellClick(4, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H4" [figure]="cells[4][7]" (click)="onCellClick(4, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A3" [figure]="cells[5][0]" (click)="onCellClick(5, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B3" [figure]="cells[5][1]" (click)="onCellClick(5, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C3" [figure]="cells[5][2]" (click)="onCellClick(5, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D3" [figure]="cells[5][3]" (click)="onCellClick(5, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E3" [figure]="cells[5][4]" (click)="onCellClick(5, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F3" [figure]="cells[5][5]" (click)="onCellClick(5, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G3" [figure]="cells[5][6]" (click)="onCellClick(5, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H3" [figure]="cells[5][7]" (click)="onCellClick(5, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A2" [figure]="cells[6][0]" (click)="onCellClick(6, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B2" [figure]="cells[6][1]" (click)="onCellClick(6, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C2" [figure]="cells[6][2]" (click)="onCellClick(6, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D2" [figure]="cells[6][3]" (click)="onCellClick(6, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E2" [figure]="cells[6][4]" (click)="onCellClick(6, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F2" [figure]="cells[6][5]" (click)="onCellClick(6, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G2" [figure]="cells[6][6]" (click)="onCellClick(6, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H2" [figure]="cells[6][7]" (click)="onCellClick(6, 7)"></app-chess-cell>

    <app-chess-cell 
        id="A1" [figure]="cells[7][0]" (click)="onCellClick(7, 0)"></app-chess-cell>
    <app-chess-cell 
        id="B1" [figure]="cells[7][1]" (click)="onCellClick(7, 1)"></app-chess-cell>
    <app-chess-cell 
        id="C1" [figure]="cells[7][2]" (click)="onCellClick(7, 2)"></app-chess-cell>
    <app-chess-cell 
        id="D1" [figure]="cells[7][3]" (click)="onCellClick(7, 3)"></app-chess-cell>
    <app-chess-cell 
        id="E1" [figure]="cells[7][4]" (click)="onCellClick(7, 4)"></app-chess-cell>
    <app-chess-cell 
        id="F1" [figure]="cells[7][5]" (click)="onCellClick(7, 5)"></app-chess-cell>
    <app-chess-cell 
        id="G1" [figure]="cells[7][6]" (click)="onCellClick(7, 6)"></app-chess-cell>
    <app-chess-cell 
        id="H1" [figure]="cells[7][7]" (click)="onCellClick(7, 7)"></app-chess-cell>
</div>
